<!-- width: 159px, 319px, 143px -->
<!-- height: 159px, 319px -->
<!-- top: 0px, 160px, 320px, 480px, 640px, 800px, 960px, 1119px -->
<!-- left: 0px, 160px, 320px, 480px, 640px, 800px, 960px, 1119px -->
<section>
	<div id="container" style="position: relative; overflow: hidden; width: 100%; height: 640px;">

		<!-- First Level -->
		<div id="origami" class="box" style="display: block; position: absolute; width: 319px; height: 319px; top: 0px; left: 0px;"></div>
		<div id="tw" class="box" style="display: block; position: absolute; width: 159px; height: 159px; top: 0px; left: 320px;"></div>
		<div id="tw" class="box" style="display: block; position: absolute; width: 159px; height: 159px; top: 0px; left: 480px;"></div>
		<div id="tw" class="box" style="display: block; position: absolute; width: 159px; height: 159px; top: 0px; left: 640px;"></div>
		<div id="tw" class="box" style="display: block; position: absolute; width: 319px; height: 319px; top: 0px; left: 800px;"></div>
		<div id="tw" class="box" style="display: block; position: absolute; width: 143px; height: 319px; top: 0px; left: 1120px;"></div>

		<!-- Second Level -->
		<div id="tw" class="box" style="display: block; position: absolute; width: 319px; height: 159px; top: 160px; left: 320px;"></div>
		<div id="tw" class="box" style="display: block; position: absolute; width: 159px; height: 159px; top: 160px; left: 640px;"></div>

		<!-- Third Level -->
		<div id="tw" class="box" style="display: block; position: absolute; width: 159px; height: 319px; top: 320px; left: 0px;"></div>
		<div id="tw" class="box" style="display: block; position: absolute; width: 159px; height: 159px; top:320px; left: 160px;"></div>
		<div id="tw" class="box" style="display: block; position: absolute; width: 159px; height: 159px; top: 320px; left: 320px;"></div>
		<div id="tw" class="box" style="display: block; position: absolute; width: 159px; height: 159px; top:320px; left: 480px;"></div>
		<div id="tw" class="box" style="display: block; position: absolute; width: 319px; height: 159px; top: 320px; left: 640px;"></div>
		<div id="tw" class="box" style="display: block; position: absolute; width: 159px; height: 159px; top: 320px; left: 960px;"></div>
		<div id="tw" class="box" style="display: block; position: absolute; width: 143px; height: 159px; top: 320px; left: 1120px;"></div>

		<!-- Fourth Level -->
		<div id="tw" class="box" style="display: block; position: absolute; width: 319px; height: 159px; top: 480px; left: 160px;"></div>
		<div id="tw" class="box" style="display: block; position: absolute; width: 159px; height: 159px; top: 480px; left: 480px;"></div>
		<div id="tw" class="box" style="display: block; position: absolute; width: 159px; height: 159px; top: 480px; left: 640px;"></div>
		<div id="tw" class="box" style="display: block; position: absolute; width: 159px; height: 159px; top: 480px; left: 800px;"></div>
		<div id="tw" class="box" style="display: block; position: absolute; width: 159px; height: 159px; top: 480px; left: 960px;"></div>
		<div id="tw" class="box" style="display: block; position: absolute; width: 143px; height: 159px; top: 480px; left: 1120px;"></div>
		
	</div>
</section>


<style type="text/css">

.box {
	background-color: rgba(0, 0, 0, 0.3);
	line-height: 1.4em;
}
</style>