<section id="footer">
	<div class="container">
		<div class="row">
			
			<div class="col-md-4 icons">
				<i class="fa fa-facebook-square"></i>facebook
				<br>
				<i class="fa fa-twitter"></i>Twitter
				<br>
				<i class="fa fa-instagram"></i>Instagram
				<br>
				<i class="fa fa-usb"></i>Connect
			</div>
			<div class="col-md-4 desc">
				<p>Take up one idea. Make that one idea your life - think of it, dream of it, live on that idea. Let the brain, muscles, nerves, every part of your body, be full of that idea, and just leave every other idea alone. This is the way to success.</p>
			</div>
			<div class="col-md-4 list">
				<ul>
					<li>Experience.</li>
					<li>Wisdom.</li>
					<li>Choice.</li>
					<li>Sustain.</li>
					<li>Keep Trying.</li>
					<li>Change.</li>
					<li>Freedom.</li>
					<li>Creativity.</li>
					<li>Explore.</li>
					<li>Curiousity.</li>
					<li>Relentless.</li>
					<li>Push.</li>
					<li>Forward.</li>
					<li>Success.</li>
				</ul>
			</div>

		</div>
	</div>
</section>

<style type="text/css">
#footer {
	background-color: black;
	padding-bottom: 80px;
	padding-top: 20px;
	color: white;
	font-size: 17px;
}

.icons {
	letter-spacing: 2px;
	line-height: 30px;
}

.desc {
	font-size: 15px;
}

.list li {
	list-style: none;
	display: inline-block;
	float: right;
}
</style>